.active {
    background-color: #007bff; /* или любой другой цвет, который вам нравится */
    color: #ffffff; /* или любой другой цвет, который вам нравится */
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
  }
  
  .active:hover {
    background-color: #0069d9; /* или любой другой цвет, который вам нравится */
  }
  .favorite__movie{
    display: flex;
    border: 2px solid palevioletred;
    border-radius: 20px;
    box-shadow: 5px 10px 5px purple;
    margin-bottom:20px ;
    padding: 20px;
    gap: 20px
  }
  .favorite__movie__description{
    border: 2px solid ;
    border-radius: 20px;
    padding: 20px;
    width:80%;
  } 
  .favorite__movie__picture{
    border: 2px solid ;
    border-radius: 20px;
   overflow: hidden;
  
   
  }
  .favorite__movie__picture img{
   
  }